---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header/Header.astro';
import PageContent from '../components/PageContent/PageContent.astro';
import LeftSidebar from '../components/LeftSidebar/LeftSidebar.astro';
import RightSidebar from '../components/RightSidebar/RightSidebar.astro';
import * as CONFIG from '../config';
import type {MarkdownHeading} from 'astro';
import Footer from '../components/Footer/Footer.astro';

type Props = {
	frontmatter: CONFIG.Frontmatter;
	headings: MarkdownHeading[];
};

const {frontmatter, headings} = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.md`;
const githubEditUrl = `${CONFIG.GITHUB_EDIT_URL}/${currentFile}`;
---

<html
	dir={frontmatter.dir ?? 'ltr'}
	lang={frontmatter.lang ?? 'en-us'}
	class="initial"
>
	<head>
		<HeadCommon />
		<HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} />
		<title>
			{
				frontmatter.title
					? `${frontmatter.title} 🚀 ${CONFIG.SITE.title}`
					: CONFIG.SITE.title
			}
		</title>
		<style lang="postcss">
			body {
				grid-template-rows: var(--theme-h-nav) 1fr;
				--theme-p-gutter: 0.5rem;
				--theme-p-doc: 2rem;
			}

			main {
				grid-template-columns:
					minmax(var(--theme-p-gutter), 1fr) minmax(0, var(--theme-w-max))
					minmax(var(--theme-p-gutter), 1fr);
			}

			@media (min-width: 50rem) {
				main {
					grid-template-columns: 20rem minmax(0, var(--theme-w-max));
				}
			}

			@media (min-width: 72rem) {
				main {
					grid-template-columns: 20rem minmax(0, var(--theme-w-max)) 18rem;
				}
			}
		</style>
		<style is:global>
			main > * {
				width: 100%;
				height: 100%;
			}

			.mobile-sidebar-toggle {
				overflow: hidden;
			}

			.mobile-sidebar-toggle #grid-left {
				display: block;
				top: 2rem;
			}
		</style>
	</head>

	<body class="grid w-full">
		<Header currentPage={currentPage} />
		<main
			class="grid grid-flow-col overflow-x-hidden md:overflow-x-auto md:gap-4 lg:px-0 lg:mx-auto lg:my-0"
		>
			<aside
				id="grid-left"
				title="Site Navigation"
				class="top-0 h-screen p-0 fixed bg-[var(--theme-bg)] z-10 hidden md:flex md:pl-8 md:sticky md:col-[1]"
			>
				<LeftSidebar currentPage={currentPage} />
			</aside>
			<div
				id="grid-main"
				class="col-[2] flex flex-col h-full py-[var(--theme-p-doc)] px-[var(--theme-p-gutter)]"
			>
				<PageContent
					frontmatter={frontmatter}
					headings={headings}
					githubEditUrl={githubEditUrl}
				>
					<slot />
				</PageContent>
			</div>
			<aside
				id="grid-right"
				title="Table of Contents"
				class="sticky top-0 hidden h-screen p-0 lg:col-[3] lg:flex"
			>
				<RightSidebar headings={headings} githubEditUrl={githubEditUrl} />
			</aside>
		</main>
		<Footer path={currentFile} />
	</body>
</html>
