---
import Features from '../components/Features.astro';
import FrameworkSelect from '../components/PageContent/FrameworkSelect';
import VersionSelect from '../components/PageContent/VersionSelect';
import MainLayout from './MainLayout.astro';
import type {Frontmatter, KNOWN_FRAMEWORKS} from '../config';
import {Prism} from '@astrojs/prism';
import type {MarkdownHeading} from 'astro';
import AdditionalLinks from '../components/PageContent/AdditionalLinks.astro';
import FrontmatterAstroLoader from '../components/FrontmatterAstroLoader.astro';
import {WIDGETS} from '../translations';
import {parseLanguage} from '../utils/location';

interface Props {
	frontmatter: Frontmatter;
	headings: MarkdownHeading[];
	file: string;
	widget: string;
	framework: keyof typeof KNOWN_FRAMEWORKS;
	currentVersion?: string | undefined;
	versions: string[];
}

const {file, frontmatter, widget, framework, currentVersion, versions} =
	Astro.props;
const {features, mainExample, anatomy} = frontmatter;
const examples = await Astro.glob('../content/widgets/**/examples/**/*.astro');
const anatomies = await Astro.glob('../content/widgets/**/anatomy/**/*.astro');

const language = parseLanguage(Astro.url.pathname);
const translations = WIDGETS[language];
---

<MainLayout {...Astro.props}>
	<FrameworkSelect client:idle framework={framework} slot="heading-after" />

	<FrontmatterAstroLoader
		file={file}
		target={mainExample}
		instances={examples}
		framework={framework}
	/>

	<div class="grid grid-cols-[3fr_1fr] gap-4">
		<section>
			<h3>{translations.features}</h3>
			{features !== undefined && <Features features={features} />}
		</section>
		<section class="pt-7 text-sm not-prose flex flex-col gap-1">
			<VersionSelect
				client:idle
				currentVersion={currentVersion}
				versions={versions}
				latestLabel={translations.version_latest}
			/>
			<AdditionalLinks
				widget={widget}
				framework={framework}
				viewSourceLabel={translations.view_source}
				viewOnNpmLabel={translations.view_on_npm}
			/>
		</section>
	</div>

	<h2>{translations.installation}</h2>
	<p>{translations.installation_sub}</p>
	<Prism lang="bash" code={`npm install @ally-ui/${framework}-${widget}`} />

	<h2>{translations.anatomy}</h2>
	<p>{translations.anatomy_sub}</p>
	<FrontmatterAstroLoader
		file={file}
		target={anatomy}
		instances={anatomies}
		framework={framework}
	/>

	<slot />
</MainLayout>
