---
import MainLayout from './MainLayout.astro';
import type {Frontmatter, KNOWN_FRAMEWORK_CODES} from '../config';
import type {MarkdownLayoutProps} from 'astro';
import FrameworkSelect from '../components/PageContent/FrameworkSelect';
import Features from '../components/Features.astro';

type Props = MarkdownLayoutProps<Frontmatter>;
interface Params {
	framework: typeof KNOWN_FRAMEWORK_CODES[number];
}

const {framework} = Astro.params as unknown as Params;
const {features} = Astro.props.frontmatter;
---

<MainLayout {...Astro.props}>
	<FrameworkSelect client:idle framework={framework} slot="heading-after" />
	<div class="grid grid-cols-[2fr_1fr]">
		<section>
			<h3 class="!mt-0">Features</h3>
			{features !== undefined && <Features features={features} />}
		</section>
		<section></section>
	</div>
	<slot />
</MainLayout>
