---
import {getLanguageFromURL} from '../../languages';
import {SIDEBAR} from '../../config';

type Props = {
	currentPage: string;
};

const {currentPage} = Astro.props as Props;
const currentPageMatch = currentPage.slice(1);
const langCode = getLanguageFromURL(currentPage);
const sidebar = SIDEBAR[langCode];
---

<nav
	aria-labelledby="grid-left"
	id="sidebar"
	class="w-full h-full p-4 bg-shade"
>
	<ul class="h-full max-h-screen overflow-y-auto">
		{
			Object.entries(sidebar).map(([header, children]) => (
				<li>
					<h2 class="font-bold">{header}</h2>
					<ul>
						{children.map((child) => {
							const url = Astro.site?.pathname + child.link;
							return (
								<li>
									<a
										href={url}
										aria-current={
											currentPageMatch === child.link ? 'page' : false
										}
									>
										{child.text}
									</a>
								</li>
							);
						})}
					</ul>
				</li>
			))
		}
	</ul>
</nav>
