---
import type {Frontmatter} from '../../config';
import MoreMenu from '../RightSidebar/MoreMenu.astro';
import TableOfContents from '../RightSidebar/TableOfContents';
import type {MarkdownHeading} from 'astro';

type Props = {
	frontmatter: Frontmatter;
	headings: MarkdownHeading[];
	githubEditUrl: string;
};

const {frontmatter, headings, githubEditUrl} = Astro.props as Props;
const title = frontmatter.title;
---

<article id="article" class="max-w-[75ch] w-full h-full flex flex-col">
	<section class="mb-16">
		<h1 id="overview">{title}</h1>
		<nav class="my-4 md:hidden">
			<TableOfContents client:media="(max-width: 50em)" headings={headings} />
		</nav>
		<div class="prose">
			<slot />
		</div>
	</section>
	<nav class="md:hidden">
		<MoreMenu editHref={githubEditUrl} />
	</nav>
</article>
