---
import type {Frontmatter} from '../../config';
import MoreMenu from '../RightSidebar/MoreMenu.astro';
import TableOfContents from '../RightSidebar/TableOfContents';
import type {MarkdownHeading} from 'astro';

type Props = {
	frontmatter: Frontmatter;
	headings: MarkdownHeading[];
	githubEditUrl: string;
};

const {frontmatter, headings, githubEditUrl} = Astro.props as Props;
const {title, description} = frontmatter;
---

<article id="article" class="max-w-[75ch] wh-full flex flex-col p-8 isolate">
	<section class="mb-16">
		<h1 id="overview" class="text-3xl font-semibold mb-2 tracking-wide">
			{title}
		</h1>
		<sub class="text-lg font-light text-content-sub tracking-wide"
			>{description}
		</sub>
		<nav class="my-8 md:hidden">
			<TableOfContents client:media="(max-width: 50em)" headings={headings} />
		</nav>
		<div
			class="mt-8 prose dark:prose-invert prose-headings:font-semibold prose-headings:tracking-wide"
		>
			<slot />
		</div>
	</section>
	<nav class="md:hidden">
		<MoreMenu editHref={githubEditUrl} />
	</nav>
</article>
