---
import * as CONFIG from '../../config';
import {MORE_MENU} from '../../translations';
import {parseLanguage} from '../../utils/location';

interface Props {
	editHref: string;
}

// TODO Fix content page path
const {editHref} = Astro.props as Props;
const showMoreSection = CONFIG.COMMUNITY_INVITE_URL;

const language = parseLanguage(Astro.url.pathname);
const translations = MORE_MENU[language];
---

{
	showMoreSection && (
		<h2 class="mb-2 text-lg font-semibold">{translations.more}</h2>
	)
}
<ul class="text-sm">
	{
		editHref && (
			<li>
				<a
					href={editHref}
					target="_blank"
					class="hover:text-accent focus:text-accent border-shade-200 block border-l-2 px-4 py-2 font-medium ring-inset"
				>
					{translations.edit_page}
				</a>
			</li>
		)
	}
	{
		CONFIG.COMMUNITY_INVITE_URL && (
			<li>
				<a
					href={CONFIG.COMMUNITY_INVITE_URL}
					target="_blank"
					class="hover:text-accent focus:text-accent border-shade-200 block border-l-2 px-4 py-2 font-medium ring-inset"
				>
					{translations.join_community}
				</a>
			</li>
		)
	}
</ul>
