---
import TableOfContents from './TableOfContents';
import MoreMenu from './MoreMenu.astro';
import type {MarkdownHeading} from 'astro';
import type {Frontmatter} from '../../config';
import {parseLanguage} from '../../utils/location';
import {TOC} from '../../translations';

interface Props {
	frontmatter: Frontmatter;
	headings: MarkdownHeading[];
	githubEditUrl: string;
}

const {frontmatter, headings, githubEditUrl} = Astro.props as Props;
const {tableOfContentsMaxDepth} = frontmatter;

const language = parseLanguage(Astro.url.pathname);
const tocTranslations = TOC[language];
---

<nav aria-labelledby="grid-right" class="px-4 py-8 overflow-y-auto wh-full">
	<div class="space-y-4">
		<TableOfContents
			client:media="(min-width: 50em)"
			headings={headings}
			maxDepth={tableOfContentsMaxDepth}
			overviewLabel={tocTranslations.overview}
			onThisPageLabel={tocTranslations.on_this_page}
		/>
		<MoreMenu editHref={githubEditUrl} />
	</div>
</nav>
